@font-face {
    font-family: 'smol';
    src: url('assets/fonts/CG\ pixel\ 4x5.ttf');
}

@font-face {
    font-family: 'main';
    src: url('assets/fonts/PixelOperator.ttf');
}

@font-face {
    font-family: 'big';
    src: url('assets/fonts/fs-tahoma-8px.ttf');
}

@media (max-width: 480px) {

    body{
        background-color: black;
        color: white;
        font-family: 'main', monospace, sans-serif;
        font-size: 16px;
        font-smooth: never;
        -webkit-font-smoothing : none;
        image-rendering: pixelated;
    }
    
    a{
        color: red;
        text-decoration: underline;
    }
    
    h1{
        font-family: 'big', 'main', monospace;
    }
    
    
    h2{
        font-family: 'big', 'main', monospace;
        margin: 0px;
        margin-bottom: 10px;
    }

    header img{
        max-width: 100%;
    }

    button{
        border-radius: 0px;
        font-family:'main', monospace;
        font-size: 16px;
        color: black;
        background-color: white;
        border:2px solid gray;
    }
    
    
    button:active{
        background-color: darkgray;
    }
    
    
    div.main{
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px;
        height: 100%;
    
        position: relative;
    }
    
    div.content{
        margin-top: 10px;
        height: 100%;
    }
    
    div.rightstuff{
        float: right;
        width: 35vw;
    }

    .pfp{
        width: fit-content;
    }

    .pfp img{
        width: 28vw;
    }
    
    .rightstuff marquee{
        padding-bottom: 5px;
    }
    
    div.navbar{
        font-family: 'smol', monospace;
        font-size: 10px;
        background-color: white;
        color: black;
        padding: 5px;
    }
    
    div.window{
        padding: 5px 20px 20px 20px;
        border: 2px solid white;
        width: 40vw;
        margin-bottom: 10px;
    }
    
    div.rightwindow{
        padding: 10px;
        border: 2px solid white;
        margin-bottom: 10px;
    }
    
    .slogs{
        overflow: auto;
        margin-top:10px;
        padding: 10px;
        max-height: 200px;
        border: 1px solid white;
    }
    
    .rightwindow ul{
        margin: 0px;
    }
    
    span.internettime{
        float: right;
    }
    
    div.updatelog{
        overflow: auto;
        max-height: 64px;
    }
    
    div.c {
        text-align: center;
    }
    
    
    #statuscafe {
        color: white;
        text-align: center;
    }
    #statuscafe-username {
        margin-bottom: 5px;
    }
    #statuscafe-content {
        margin-bottom: 2px;
    }

    
}

@media (min-width: 480px) {


body{
    background-color: black;
    color: white;
    font-family: 'main', monospace, sans-serif;
    font-size: 16px;
    font-smooth: never;
    -webkit-font-smoothing : none;
    image-rendering: pixelated;
    padding: 20px;
}

a{
    color: red;
    text-decoration: underline;
}

h1{
    font-family: 'big', 'main', monospace;
}


h2{
    font-family: 'big', 'main', monospace;
    margin: 0px;
    margin-bottom: 10px;
}

button{
    border-radius: 0px;
    font-family:'main', monospace;
    font-size: 16px;
    color: black;
    background-color: white;
    border:2px solid gray;
}


button:active{
    background-color: darkgray;
}


div.main{
    margin:auto;
    max-width: 800px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

div.content{
    margin-top: 10px;
}

div.rightstuff{
    float: right;
    max-width: 203px;
}

.rightstuff marquee{
    padding-bottom: 5px;
}

div.navbar{
    font-family: 'smol', monospace;
    font-size: 10px;
    background-color: white;
    color: black;
    padding: 5px;
}

div.window{
    background-color: black;
    padding: 5px 20px 20px 20px;
    border: 2px solid white;
    max-width: 545px;
    margin-bottom: 10px;
}

div.rightwindow{
    background-color: black;
    padding: 10px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.slogs{
    overflow: auto;
    margin-top:10px;
    padding: 10px;
    max-height: 200px;
    border: 1px solid white;
}

.rightwindow ul{
    margin: 0px;
}

span.internettime{
    float: right;
}

header img{
    max-width: 100%;
}

div.updatelog{
    padding: 10px;
    border: 2px solid white;
    overflow: auto;
    max-height: 64px;
}

div.c {
    text-align: center;
}


#statuscafe {
    color: white;
    text-align: center;
}
#statuscafe-username {
    margin-bottom: 5px;
}
#statuscafe-content {
    margin-bottom: 2px;
}

}

.gallery{
    text-align: center;
}

.gallery img{
    max-height: 250px;
    width: auto;
}

.albumgallery{
    text-align: center;
}

.albumgallery img{
    height: 150px;
    width: auto;
}

figure {
    display:inline-block;
}

hr{
    margin-top: 25px;
    margin-bottom: 25px;
}

.bigwindow{
    padding: 10px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.blogImage{
    padding: 10px;
    max-width: 300px;
    text-align: center;
    margin: auto;
    color:gray;
    text-decoration: underline;
  }

.blogImage img{
    max-width: 300px;
}