<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuro's Spotlight | Article title</title>
    <meta content="http://kuro.gay/spotlight/template/articlepreview.png" property="og:image" />
    <meta name="description" content="Article description">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    
    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">Article title</div>
            <div class="title-bar-controls">
              <button aria-label="Minimize"></button>
              <button aria-label="Maximize"></button>
              <button aria-label="Close"></button>
            </div>
          </div>
        
        <div class="content">

        <div class="back"><button onclick="window.location='http:\/\/kuro.gay';">< Return to home</button></div><br>
        
        <div class="title">
            <b>Article title</b>
        </div>

        <div class="center">MM/DD/YEAR TI:ME AM</div>

        <div class="articletext">
            Article text goes here
        </div>

        <hr>
    

        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = http://kuro.gay/spotlight/template;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = 00000000; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://kuros-room.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    </div>


    <div class="center">
        <a href="https://www.hitwebcounter.com" target="_blank"><img src="https://hitwebcounter.com/counter/counter.php?page=7982275&style=0006&nbdigits=6&type=page&initCount=637" title="Free Counter" Alt="web counter"   border="0" /></a>       
    </div><br>

    </main>

    <div class="center">
        <marquee>
            <img src="http://kuro.gay/assets/buttons/hatemac.jpg">
            <img src="http://kuro.gay/assets/buttons/made_with_windows.gif">
            <a href="https://www.mozilla.org/en-US/firefox/new/"><img src="http://kuro.gay/assets/buttons/get.gif"></a>
            <a href="https://www.vgmusic.com/"><img src="http://kuro.gay/assets/buttons/midi_files_now.gif"></a>
            <img src="http://kuro.gay/assets/buttons/gay.gif">
            <a href="http://ballsackradio.com/"><img src="http://kuro.gay/assets/buttons/ballsack.png"></a>
            <a href="https://cyber.dabamos.de/88x31/index.html"><img src="http://kuro.gay/assets/buttons/button_now.gif"></a>
            <img src="http://kuro.gay/assets/buttons/amiga.gif">
            <img src="http://kuro.gay/assets/buttons/beyes.gif">
            <img src="http://kuro.gay/assets/buttons/copy_floppy.gif">
            <img src="http://kuro.gay/assets/buttons/evangelion.gif">
            <a href="https://www.w3schools.com/"><img src="http://kuro.gay/assets/buttons/html.gif"></a>
            <a href="https://ermel.org/handcoded/"><img src="http://kuro.gay/assets/buttons/handcode.png"></a>
            <a href="https://tokipona.org/"><img src="http://kuro.gay/assets/buttons/tokipona.png"></a>
            <a href="http://fox-info.net/"><img src="http://kuro.gay/assets/buttons/foxinfo.png" width="88" height="33"></a>
        </marquee>
    </div>

    <div class="apps">
        <script>NekoType="black"</script>
        <h1 id=nl><script src="https://webneko.net/n20171213.js"></script><a 
        href="https://webneko.net">Neko</a></h1>
    </div>
</body>
</html>